@(service: String, passive: Boolean, continue: String)
<!DOCTYPE html>
<html>
<head>
<title>登录 - PlaySSO</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
</head>
<body>
	<form method="post" action="/auth">
		<input name="s" type="hidden" value="@service" /> <input
			name="continue" type="hidden" value="@continue" />
		<input name="username" type="text" />
		<input name="password" type="password" />
		<input type="submit" />
	</form>
</body>
</html>
